* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.2rem;
}

::-webkit-scrollbar {
    display: none;
    width: 13px;
}

a .logo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.bg-img {
    background-image: url("../image/aedrian-ZUFZtLwmIR8-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 40rem;
}

.bk-img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.text-style>a {
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    body {
        background-color: inherit;
    }

    a .logo {
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    .small {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 25px;
    }

    .small-center {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}

.skill:hover {
    font-size: 80px;
    text-shadow: 4px 5px 5px #000000;
    /* transition-duration: 10s;
    transform: rotateX(360deg); */
}