* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body {
    font-size: 1.2rem;
}

::-webkit-scrollbar {
    display: none;
    width: 13px;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.bg-img {
    background-image: url("../image/aedrian-ZUFZtLwmIR8-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 40rem;
    z-index: 3;
}

.container-flex {
    margin: auto 25%;
}

.bk-img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 800px) {
    body {
        background-color: inherit;
    }
}